* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    color: $main-color;
}

p {
    margin: 0;
}

.section {
    margin-top: $xl-size;
    margin-bottom: $xl-size;
}