.services {
    margin: 0;
    @extend .section;
    padding: 0 !important;
}

.service {
    position: relative;
    height: 306px;
    overflow: hidden;

    &:nth-child(2n) {
        .service__content{
            background: $purple;
        }

        .service__title {
            &::before {
                content: "\f0d0";
            }
        }
    }

    &:last-child {
        .service__content{
            background: $light-blue;
        }

        .service__title {
            &::before {
                content: "\f003";
            }
        }
    }

    &:hover {
        .service__content {
            margin-top: -170px;
        }
        .service__action {
            bottom: 170px;
        }
    }
}

.service__content {
    background: $main-color;
    text-align: center;
    height: 306px;
    margin-top: 0;
    padding: $m-size;
    position: relative;
    z-index: 2;
    @include transition-time(.5s, ease-out);
}

.service__title {
    color: white;
    font-size: $l-size;
    margin-bottom: $m-size;

    &::before {
        font-family: FontAwesome;
        content: "\f219";
        color: white;
        display: block;
        padding: $xl-size;
        font-size: $xl-size;
    }
}

.service__subtitle {
    color: white;
    font-size: 1rem;
    line-height: 1.5;
}

.service__action {
    height: 170px;
    background: green;
    color: white;
    margin: 0;
    padding: $m-size;
    font-size: $s-size;
    text-align: start;
}